@import "../../vars.css";
@import "../../../assets/fonts/fonts.css";


.container{
    text-align: center;
}

.title{
    font-weight: 100;
    color: var(--color-text);
    font-family: Copperplate;
    font-size: 40px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

.description{
    color: var(--color-text);
    margin-bottom: 35px;
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
}

.contentImg{
    width: 50%;
}

.contentMaior{
    display: flex;
}

.contentMenor{
    display: none;
}

@media screen and (max-width: 820px){
    .title{
        font-size: 25px;
    }
    
    .description{
        font-size: 20px;
    }
}

@media screen and (max-width: 600px){
    .contentMaior{
        display: none;
    }

    .contentMenor{
        display: flex;
    }
}