@import '../../vars.css';

.container{
    color: var(--color-text);
    width: 80%;
    margin: auto;
    padding: 35px;
}

.title{
    font-size: 50px;
    letter-spacing: 1.75px;
}

.publicacoes{
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width: 830px){
    .container{
        padding-top: 0px;
    }

    .title{
        font-size: 30px;
        text-align: center;
    }
}