@import '../../vars.css';

.container{
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    padding: 15px;
    width: 250px;
    height: 455px;
    color: black;
    position: relative;
}

.img{
    margin-bottom: 10px;
    border-radius: 3px;
}

.title{
    font-size: 20px;
    text-align: center;
    margin-bottom: 8px;
}

.description{
    font-size: 16px;
    text-align: justify;
}

.seta{
    align-self: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
}

.seta>img{
    width: 40px;
}

@media screen and (max-width: 740px){
    .title{
        font-size: 20px;
        text-align: center;
    }
}