@import "../../vars.css";

.container{
    color: var(--color-text);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 35px;
}

.title{
    font-size: 50px;
}

.contentContact{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-text);
    font-size: 25px;
}

.contentContact>span:hover{
    border-bottom: 1px solid;
}

.contentContact img{
    margin-right: 10px;
}

.description {
    font-size: 25px;
}

@media screen and (max-width: 830px){
    .container{
        flex-direction: column;
    }

    .contentText{
        margin-bottom: 25px;
        text-align: center;
    }

    .title{
        font-size: 35px
    }

    .description {
        font-size: 20px;
    }

    .contentContact{
        font-size: 16px;
        flex-direction: column;
    }

    .contentContact>span{
        margin-top: 5px;
    }

    .contentContact img{
        margin-right: 0px;
    }

    .contacts{
        display: flex;
        justify-content: center;
        gap: 20%;
    }
}